
{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}
<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">


          <div class="card mb-3">

            <div class="card-body">
              <div class="pt-4 pb-2">
                <img src="{% static 'images/BBVA-logo.png' %}" alt="" class='img-fluid'>
                <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                <p class="text-center small">Enter your username & password to login</p>
              </div>
              <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username"  name="username" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label" >Password</label>
                    <input type="password" class="form-control" id="password" name='password'>
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
                <div class="col-12 mt-3">
                    <p class="small mb-0">Don't have account? <a href="pages-register.html">Create an account</a></p>
                </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}